<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.jasonleaster.bookstore.dao.IRecordMapper" >
    <resultMap id="BaseResultMap" type="org.jasonleaster.bookstore.model.Record" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="date" property="date" jdbcType="TIMESTAMP" />
        <result column="book_id" property="bookId" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="recordType" property="recordtype" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, date, book_id, user_id, recordType
    </sql>

    <!-- Custom defined SQL statements  -->

    <insert id="insert" parameterType="org.jasonleaster.bookstore.model.Record" >
    insert into records (id, date, book_id, user_id, recordType)
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, #{bookId,jdbcType=VARCHAR},
    #{userId,jdbcType=VARCHAR}, #{recordtype,jdbcType=VARCHAR})
  </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from records
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <update id="updateByPrimaryKeySelective" parameterType="org.jasonleaster.bookstore.model.Record" >
        update records
        <set >
            <if test="date != null" >
                date = #{date,jdbcType=TIMESTAMP},
            </if>
            <if test="bookId != null" >
                book_id = #{bookId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="recordtype != null" >
                recordType = #{recordtype,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from records
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectFuzzy"  resultMap="BaseResultMap" parameterType="java.util.Map">
        select <include refid="Base_Column_List" />
        from records
        where TRUE
        <if test="isbn != null" >
            AND records.id = #{id}
        </if>
        <if test="bookId != null" >
            AND records.book_id = #{bookId}
        </if>
        <if test="userId != null" >
            AND records.user_id = #{userId}
        </if>
        <if test="recordtype != null" >
            AND records.recordtype = #{recordtype}
        </if>

        <if test="pageSize != null" >
            limit #{pageSize}
        </if>
        <if test="start != null" >
            offset #{start}
        </if>

    </select>

    <select id="selectItemCount" resultType="int" parameterType="java.util.Map">
        SELECT COUNT(*) AS total
        FROM (
        select <include refid="Base_Column_List" />
        from records
        where TRUE
        <if test="isbn != null" >
            AND records.id = #{id}
        </if>
        <if test="bookId != null" >
            AND records.book_id = #{bookId}
        </if>
        <if test="userId != null" >
            AND records.user_id = #{userId}
        </if>
        <if test="recordtype != null" >
            AND records.recordtype = #{recordtype}
        </if>
        ) AS totalResult;
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
    select * from records;
  </select>

    <select id="countAll" resultType="int">
    select COUNT(*) as total from records;
  </select>


</mapper>